.sco1.header{
  background: url(../../images/bkg/bkg-01.png) no-repeat center;
  background-size: cover;
}

.sco2.header.header2{
  background: url(../../images/bkg/bkg-02.png) no-repeat center;
  background-size: cover;
}

.sco3.header.header3{
  background: url(../../images/bkg/bkg-03.png) no-repeat center;
  background-size: cover;
}

.sco4.header.header4{
  background: url(../../images/bkg/bkg-04.png) no-repeat center;
  background-size: cover;
}

.sco5.header.header5{
  background: url(../../images/bkg/bkg-05.png) no-repeat center;
  background-size: cover;
}

.sco3.slideshow-side .slideshow-caption{
  padding: 100px 50px 50px 220px;
}

.sco-01 .list li{
  display: inline-block;
}

.sco-03 .slideshow-side .slideshow-caption{
 padding: 100px 50px 50px 200px;
}

@media only screen and (max-width: 1023px), (max-width: 1024px) and (orientation: portrait) {
    
 .sco-03 .slideshow-side .slideshow-caption{
   padding: 160px 20px 50px 20px;
 }


}

.sco-04 .interactive{
  background: url(../../images/bkg/bkg-sco4-infografico.png) no-repeat center;
  height: 660px;
  width: 995px;
  position: relative;
}

.sco-04 .interactive-btn{
  position: absolute;
 
  height: 168px;
  width: 181px; 
}

.sco-04 .interactive-btn:hover {
  background-color: rgba(250, 128, 114, 0.13);
  opacity: .8;
}

.sco-04 .interactive-btn-1{
  top: 48px;
  left: 11px;
}

.sco-04 .interactive-btn-2{
  top: 269px;
  left: 204px;
}

.sco-04 .interactive-btn-3{
  top: 35px;
  left: 387px;
}

.sco-04 .interactive-btn-4{
  top: 256px;
  left: 606px;
}

.sco-04 .interactive-btn-5{
  top: 35px;
  left: 764px;
}

.sco-04 .interactive-content{
  position: absolute;
  height: 150px;
  width: 170px;
}

.sco-04 .interactive-content-1{
  top: 240px;
  left: 15px;
}

.sco-04 .interactive-content-2{
  bottom: 530px;
  left: 213px;
}

.sco-04 .interactive-content-3{
  top: 245px;
  left: 412px;
}

.sco-04 .interactive-content-4{
  bottom: 530px;
  left: 610px;
}

.sco-04 .interactive-content-5{
  top: 245px;
  left: 809px;
}